<h1>Other System Users</h1>
<p><a href="/allusers/new"><button>Create New User</button></a> <a href="/users/<%=current_user.id%>"><button>Back To Home Page</button></a>
</p>
<%@users.each do |user| %> 
  <%if user.is_admin%> 
    <%usertype = "Admin"%>
  <%else%>
    <%usertype = "Teller"%>
  <%end%>
  <%if user.id != current_user.id%>
  <h3><%=user.username%> <%=user.name%> <%=usertype%></h3>
  <div> <div><form action="/users/<%=user.id%>/edit" method="get">
      <input type="submit" value="Edit" name="Submit" id="frm1_submit">
     </form></div> <div><form action="/users/<%=user.id%>" method="post">
      <input id="_method" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete user">
     </form></div>
  </div>
  <%end%>
<%end%>
