<div class="container">
   <div class="col-md-8 col-md-offset-2">
    <h2>Edit User</h2>
    <form method="post" action="/users/<%=@user.id%>">
      <input type="hidden" value="patch" name="_method">
      
      <p><label for="username">Username:</label>
      <input type="Text" name="username" id="username" value="<%=@user.username%>"></p>
      
      <p><label for="name">Full Name:</label>
      <input type="Text" name="name" id="name"  value="<%=@user.name%>" ></p>
      
      <p><label for="password">Password:</label>
      <input type="password" name="password" id="password"></p>
      
      <p><label for="password_confirmation">Confirm Password:</label>
      <input type="password" name="password_confirmation" id="password_confirmation"></input></p>
      <%if @user.is_admin%>
      <% chkbox = "checked"%>
      <%else%>
        <%chkbox = ""%>
      <%end%>
      <p><label for="is_admin">Is an Admin?:</label> <%=@user.is_admin%>
      <input name="is_admin" id="is_admin" type="checkbox" <%=chkbox%>></input>
      </p>
      <p><input type="submit" value="Update"> <form action="/users/<%=@user.id%>" method="post">
  <input id="_method" type="hidden" name="_method" value="delete"><input type="submit" value="Delete"></form></p>
      </form>
   <p> <a href="/allusers"><button>Back To All Users</button></a></p>
    
</div>
