<div class="container">
   <div class="col-md-8 col-md-offset-2">
    <h2>Edit My Profile</h2>
    <form method="post" action="/users/<%=@user.id%>">
      <input type="hidden" value="patch" name="_method">
      
      <p><label for="username">Username:</label>
      <input type="Text" name="username" id="username" value="<%=@user.username%>"></p>
      
      <p><label for="name">Full Name:</label>
      <input type="Text" name="name" id="name"  value="<%=@user.name%>" ></p>
      
      <p><label for="password">Password:</label>
      <input type="password" name="password" id="password"  ></p>
      
      <p><label for="password_confirmation">Confirm Your Password:</label>
      <input type="password" name="password_confirmation" id="password_confirmation" ></p>
    
      <%if @user.is_admin%>
          <%val = 1%>
          <%chkbox = "checked"%>
      <%else%>
          <%val = 0%>
          <%chkbox = ""%>
      <%end%>
      <p><label for="is_admin">Is an Admin?:</label>
      <input name="is_admin" id="is_admin" type="checkbox" disabled <%=chkbox%>>
      <input type="hidden" name="is_admin" id="is_admin" value="<%=val%>"/></p>
      <p><input type="submit" value="Update"></p>
      </form>
   <p> <a href="/"><button>Back To Home Page</button></a></p>
</div>
