<h2>My Transactions</h2>
<p><a href="/"><button>Back To Home Page</button></a></p>
<% @user_trans.each do |t| %>
<p><a href="/mytransaction/<%=t.id%>"><button>Show Item</button></a></p>
<p><strong>Created_On: </strong><%=t.created_at%> <strong>Qty: </strong><%=t.quantity%></p>
<p><strong>Transaction Notes: </strong><%=t.transaction_notes%></p>
    <%item = Item.find_by(t.item_id)%>
    <% if item %> 
      <%itemname = item.name%> 
      <%itemprice =item.price%>
    <%else %>
      <%itemname = "Item No Longer In Inventory. Refer To Transaction Notes"%>
      <%itemprice = "-"%>
    <%end%>
    <p><strong>Item:</strong> <%=itemname%> <strong>Price: </strong><%=itemprice%></p>
    <p><strong>By:</strong> <%=@user.name%> <strong>Value: </strong><%=t.value%></p>
<%end%>