<h2>My Transactions</h2>
<p><a href="/users/<%=current_user.id%>"><button>Back To Home Page</button></a></p>
<% @user_trans.each do |t| %>
<h4><%=t.category%> Action    Id: <%=t.id%> </h4>
<p><a href="/mytransactions/<%=t.id%>">Show Transaction</a></p>
<% item = Item.find_by(id: t.item_id)%>
<%if item %>
  <p><strong>Item:</strong><%=item.name%> <strong>Price: </strong><%=item.price%></p>
<%end%>
<p><strong>Created_On: </strong><%=t.created_at%> <strong>Qty: </strong><%=t.quantity%></p>
<p><strong>Value: </strong><%=t.tr_value%></p>
<%end%>