<h2>My Transactions</h2>
<p><a href="/"><button>Back To Home Page</button></a></p>
<% @user_trans.each do |t| %>
    <%item = Item.find_by(t.item_id)%>
    <p><strong>Created_On: </strong><%=t.created_at%> <strong>Item:</strong> <%=item.name%> <strong>Qty: </strong><%=t.quantity%> <strong>Price: </strong><%=item.price%></p>
<p><strong>By:</strong> <%=@user.name%> <strong>Value: </strong><%=t.value%></p>
<%end%>