<h2>Sell or Restock An item</h2>
<p><a href="/users/<%=current_user.id%>"><button>Back To Home Page</button></a> <a href="/mytransactions"><button>Back To Transactions</button></a> <a href="/items"><button>Back To Inventory</button></a></p>
<form method="post" action="/mytransactions/new">
  <label for="item_id">Choose an Item: </label>
  <select id="item_id" name="item_id">
    <%@items_available.each do |item| %>
    <%if item.quantity < item.restock_level%><%mycolor = "red"%><%end%>
    <option value="<%=item.id%>" style="color:<%=mycolor%>"><%=item.name%> @ £<%=item.price%> Instock: <%=item.quantity%></option>
    <%end%>
  </select>
  <input type = "hidden" name="user_id" id="user_id" value="<%=@user.id%>">
  <label for="quantity">Quantity:</label> 
  <select name="quantity" id="quantity">
    <% 1.upto(20) do |i|%>
    <option value="<%=i%>"><%=i%></option>
    <%end%>
  </select>
  
  <label for="category">Action</label>
  <select name="category" id="category">
    <option value="Sale">Sell</option>
    <option value="Restock">Stock</option>
  </select>
  <input type="submit" value="Submit">
</form>
