<h2>Sell or Restock An item</h2>
<form method="post" action="/mytransactions/new">
  <label for="item_id">Choose an Item: </label>
  <select id="item_id" name="item_id">
    <%@items_available.each do |item| %>
    <option value="<%=item.id%>"><%=item.name%></option>
    <%end%>
  </select>
  <label for="user_id">User Id:</label>
  <input type = "text" name="user_id" disabled id="user_id" value="<%=@user.id%>">
  <input type = "hidden" name="user_id" id="user_id" value="<%=@user.id%>">
  
  <label for="quantity">Quantity:</label> 
  <select name="quantity" id="quantity">
    <% 1.upto(20) do |i|%>
    <option value="<%=i%>"><%=i%></option>
    <%end%>
  </select>
  
  <label for="category">Action</label>
  <select name="category" id="category">
    <option value="Sale">Sell</option>
    <option value="Restock">Stock</option>
  </select>
  <input type="submit" value="Submit">
</form>
