<h2>Transaction Details</h2>
<p><%if current_user.is_admin%><a href="/alltransactions"><button>All Transactions</button></a> <%end%><a href="/mytransactions"><button>My Transactions</button></a></p>
<%if @item %>
  <p><strong>Item:</strong><%=@item.name%> <strong>Price: </strong><%=@item.price%></p>
<%else%>
  <p>Item Relating to this transaction is no longer in inventory: please refer to notes below</p>
<%end%>
<%if @user %>
  <p><strong>By:</strong> <%=@user.name%> 
<%else%>
  <p>User Relating to this transaction is no longer exists: please refer to notes below</p>
<%end%>
<p>Transaction Id: <%=@transaction.id%> Item Id: <%=@transaction.item_id%> User Id: <%=@transaction.user_id%></p>
<p><strong>Qty: </strong><%=@transaction.quantity%> <strong>Value: </strong><%=@transaction.value%></p>
<p><strong>Transaction Notes: </strong><%=@transaction.transaction_notes%></p>
<p><strong>Created At: </strong><%=@transaction.created_at%></p>

